<!-- Main window -->
<div class="main_container" id="dashboard_page">


<div class="row-fluid" style="margin-top: 20px;">
  <div class="widget span6">
    <div class="widget-header"><i class="icon-eye-close"></i><h5>Secret Key</h5>
      <div class="widget-buttons">
        <a href="#" data-title="Collapse" data-collapsed="false" class="tip collapse"><i class="icon-chevron-up"></i></a>
      </div>
    </div>
    <div class="widget-body clearfix" style="height: 90px;">
      <div>
        <h3 align="center">  <%=@game.secret_key%>        </h3>
      </div>
    </div>
  </div>
  <div class="widget span6">
    <div class="widget-header"><i class="icon-eye-open"></i><h5>Game Key</h5>
      <div class="widget-buttons">
        <a href="#" data-title="Collapse" data-collapsed="false" class="tip collapse"><i class="icon-chevron-up"></i></a>
      </div>
    </div>
    <div class="widget-body clearfix" style="height: 90px;">
    <h3 align="center"><%=@game.game_key%></h3>
    </div>
  </div>
</div>
</div>
