<div id="wrap">

  <div class="container-fluid">

    <!-- Main window -->
    <div id="dashboard_page">


      <h1> No estás usando Kamecenter aún.</h1>
      <h3> De todos modos, aún no tienes logros, si los consigues los guardaremos para esperar a que decidas usarnos.</h3>


      <a href="http://kamecenter.herokuapp.com/" target="_blank"> <h3>Si querés empezar a usarlo, ingresá haciendo click aquí<img src="/assets/logo_black.png"></h3></a>

    </div>

    <!-- /Main window -->

  </div><!--/.fluid-container-->
</div><!-- wrap ends-->